
			<div ng-controller="banner_ctrl">
  
  <div ng-include="bannerview"></div>
  </div>
   
   
	
	<div class="row row1">
		  <div class="col-md-1 col-xs-1 col-sm-1 col-lg-2">
		 <div  style="" class="abcd" >
    <img src="..." class="werty" alt="600×160px" >
	</div></div>
		<div class="col-md-10 col-xs-10  col-sm-10 col-lg-8 " ng-controller="main_controller">
		    <div ng-include="cardsview"></div>
		</div>
	 <div class="col-md-1 col-xs-1   col-sm-1 col-lg-2">
	 <div  style="" class="bcd" >
    <img src="..." class="werty" alt="600×160px" >
	</div>
	 </div> 
		</div>
		
			