
	  <div id="myCarousel" class="carousel slide clearfix" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
      <a href="{{banner.bannerimg1[1]}}">  <img  class="img-responsive" ng-src={{banner.bannerimg1[0]}} alt="flight boookings" ></a>
        
      </div>

      <div class="item">
       <a href="{{banner.bannerimg2[1]}}"> <img class="img-responsive" ng-src={{banner.bannerimg2[0]}} alt="Myntra Shopping" ></a>
       
      </div>
    
      <div class="item">
       <a href="{{banner.bannerimg3[1]}}"> <img class="img-responsive" ng-src={{banner.bannerimg3[0]}} alt="Summer Offers"></a>
     
      </div>
    </div>
   </div>