<div class="row" style="text-align:center"> <h1 >Deal Date : July 29th 2019</h1>
</div>
			<div class="row"  >
				<div class=".col-md-5  col-xs-12 col-lg-4  cards_col" ng-repeat="cards in cards_data">
					<div class="offer-box">
					
					<div style="margin:5px">
					
						<a href={{cards.prductdetail}}><img class="card-img-top "  alt="Bootstrap Thumbnail First" width="100%" ng-src={{cards.bodyimage.image[0]}}></a>
						<label class="the-final-countdowns" id="{{cards.message}}"></label>
						<div class="the-final-countdown">
								<p ><label class="2345"id={{cards.id}}></label></p>	
										</div>
										<div  id="">
								<div id={{cards.id1}} class="winner-logo"> </div>
												</div>
												</div>
								<div class="vvvv" >
						<a href="#">
						<img class="img-responsive" alt="Bootstrap Thumbnail First"  ng-src={{cards.footerimage.image[0]}} /></a>
							
							</div>
							
						
						
					</div>
				</div>
				
			</div>

		
			