
<div class="sticky2">
   <div ng-include="'templates/headertemplate.html'"></div>
</div>


<div class="container-fluid">
<div class="col-lg-12">
<div class="row">
				
					
					<div  ng-controller="product_ctrl">
<div  class="preview col-xs-2 col-md-2 col-lg-4 " >
				<div  ng-include="'views/products.html'"></div>
				</div>
				
				
				</div>

					<div class="details col-xs-8 col-sm-12 col-md-8 col-lg-8 ">
					<div style="margin-top:30px;" class="sticky3" ><a class="product-title" >Participate Now</a><a class="product-title" >Add cooments</a> <a 	 class="product-title" style="margin-top:30px;">Subscribe</a>	<a 	 class="product-title" style="margin-top:30px;">Like it</a>	<a 	 class="product-title" style="margin-top:30px;">Share it</a>
						<a 	 class="product-title" style="margin-top:30px;">Rate it</a>
						<a 	 class="product-title" style="margin-top:30px;">Price compare</a></div>
					<div class="details col-xs-2 col-sm-12 col-md-3 col-lg-8">
						
						
						<h4>winner</h4>
						<div class="addbanner1"style=""></div></br>
						<div ng-controller="participant_ctrl">
						<div style="float:left;" ng-include="participantsview"></div></div>
						  
						  
						  
						
						
						<div  class="efgh">
						<h4>Lader Board</h4>
						<ul class="ulcs2" style="display:flex;">
						 <div class="tab-pane1" ><img src="images/avatar.png" /></div>
						  <div class="tab-pane1" ><img src="images/avatar.png" /></div>
						  <div class="tab-pane1" ><img src="images/avatar.png" /></div>
						  <div class="tab-pane1" ><img src="images/avatar.png" /></div>
						  <div class="tab-pane1" ><img src="images/avatar.png" /></div>
						  
						  
						
						  </div>
						 
						</ul>
						</div>
						
						


				
				
			
		
			
			
			
			
			
		<div>
		<div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
		<h3 class="heading">Comments</h3>
		<div class=>
    <div  >
        <div>
            <div class="">
                <div class="">
                    <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                    <form class="form-inline">
                        sign in with</br>
                            <button class="btn btn-danger" type="button"><span class="fa fa-google fa-lg"></span></button>
                            <button class="btn facebook" type="button"><span class="fa  fa-facebook fa-lg"></span></button>
                         
                      </br>
                                
						<div class="left-inner-addon ">
                         <i class="glyphicon glyphicon-user"></i>
                              <input type="text"class=" detail form-control" placeholder="Username" />
                                                    </div></br>
						<div class="left-inner-addon ">
                         <i class="glyphicon glyphicon-envelope"></i>
                              <input type="text"class="form-control detail" placeholder="Email" />
                           </div>
                            <button class="btn btn-danger pull-right" type="button">Share</button>
                    </form>
                </div>
            </div></br>
			
			<div>
			
			
			
			</div>
        </div>
    </div>
</div>
		
		</div>
		<div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
		<div>
		<div> 
<h3  class="heading"> Product Details</h3> <label>Rating</label>	<div>
<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset></div>	</div></br>
		</br><p>Cook fast and easy with the Bajaj Majesty 0.4 L RCX1 Mini Multifunction Cooker. The cool touch handles allow comfortable handling and the transparent lid facilitates monitoring of rice. In addition, it features a stainless steel lid with steam vents.
</p>
<ul>
<li>0.4 Litres Capacity
</li>
<li>0.4 Litres Capacity
</li>
<li>0.4 Litres Capacity
</li>
<li>0.4 Litres Capacity
</li>
<li>0.4 Litres Capacity
</li>
</ul>

		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		<div ng-controller="demoController" >
	<section ng-include="'views/fixed_logo.html'"></section>
	</div>
					