<h1> My Orders</h1>

<div class="row">

<div class="col-lg-8">  <div > <a href="#" style="background-color: blue;"> OD114925057994937000 </a> </div> 
</div>


<div class="col-lg-4"> 
<div > <a href="#"> <i class='fas fa-question-circle'> </i> Need Help </a> </div>


<div> <a> <i class="fa fa-map-marker"></i>  Track   </a> </div>
</div>

</div>


<div class="row"> 

<div class="col-lg-4">  <a href="#"> <img ng-src="images/deals2.png" alt="pf_img" i/> Electric Rice Cooker </a>
</div>

<div class="col-lg-4"> <h6>  Delivered on Mar 18 </h6>  
<p>  Your item has been delivered </p></div>

<div class="col-lg-4"> 
<a href="#"> <i class="fa fa-star"></i> <strong> RATE & REVIEW </strong> </a>
</div>

</div>


<div class="row">

<div class="col-lg-6"> <h6 class="text-muted"> Ordered On</h6> Tue ,Mar 12th '19</div>

<div class="col-lg-6"> <h6 class="text-muted"> Order Total </h6> <i class="fa fa-rupee"></i> 999/-</div>

</div>