<div>
<h4>{{participants.title}}</h4>
</div>
						<div class="participants">
						<div class="viewers">
						<ul class="ulcs">
						  <div class="tab-pane1" ><img ng-src={{participants.participantimg1[0]}} /><label>{{participants.participantimg1[1]}}</label></div>
						  <div class="tab-pane1" ><img ng-src={{participants.participantimg2[0]}} /><label>{{participants.participantimg2[1]}}</label></div>
						  <div class="tab-pane1" ><img ng-src={{participants.participantimg3[0]}} /><label>{{participants.participantimg3[1]}}</label></div>
						  
						  
						  
						</ul>
						<ul class="ulcs" style="display:flex;">
						 <div class="tab-pane1" ><img ng-src={{participants.participantimg4[0]}} /><label>{{participants.participantimg4[1]}}</label>
						 </div>
						  <div class="tab-pane1" ><img ng-src={{participants.participantimg5[0]}} /><label>{{participants.participantimg5[1]}}</label></div>
						  <div class="tab-pane1" ><img ng-src={{participants.participantimg6[0]}} /><label>{{participants.participantimg6[1]}}</label></div>
						  </ul>
						  
						  </div>