.anchor {
  border: 2px dashed black;
  padding: 10px 10px 10px 10px;
}

.fixed-header {
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  top: 0; left: 0; right: 0;
  margin-top: 10px;
}

.fixed-header > a {
  display: inline-block;
  margin: 5px 15px;
}
